.add-product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .add-product-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .add-product-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  .add-product-page option {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
  }
  .add-product-page select {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .add-product-page label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .add-product-page input[type="text"],
  .add-product-page input[type="file"] {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .add-product-page button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .add-product-page button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  

